<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
</header>
<div class="task-form">
    <form method="POST">
        <label for="name">Task name: </label>
        <br>
        <input id="name" type="text" name="name" value="">
        <br>
        <label for="description">Task description: </label>
        <br>
        <input id="description" type="text" name="description" value="">
            <div class="points-fields">
                <input type="text" name="points_cnt" value="1" style="display: none;">
                <label>Points: </label>
                <br>
                <input type="text" name="point_0">
                <br>
                <input type="button" value="Add point" class="add-new-point">
            </div>
        <input type="button" value="Submit" class="submit">
    </form>
</div>

{% verbatim %}
<div class="tasks">
</div>
{% endverbatim %}

<script src="{% static 'js/load_tasks.js' %}" defer></script>

</body>
</html>